
<style>
.my .glyphicon {
  pointer-events: all;
}

.btn-icon {
  padding: 0;
  background: transparent;
  border-color: transparent;
  box-shadow: none;
  cursor: pointer;
  border-radius: 0;
  &:active, &:focus {
    .box-shadow(none);
    border-color: transparent;
  }
  &:active {
    .scale(0.9);
  }
  &:focus {
    outline: 0 none !important;
  }
  .glyphicon {
    .transition(color 0.1s ease);
  }
}

// Define color for each button type
@icon-default-color: #666;
@icon-star-color: #FECF15;
@icon-heart-color: #FE4365;
@icon-bookmark-color: #A6D478;

.btn-icon {
.glyphicon-heart {
    color: @icon-default-color;
    &:hover {
      color: fadeout(@icon-default-color, 15%);
    }
    &.active {
      color: @icon-heart-color;
      &:hover {
        color: fadeout(@icon-heart-color, 15%);
      }
    }
  }
}
</style>

<div ng-controller="HomeController">
<div>
    <div class="navbar-wrapper" >
        <div class="container">
            <div class="navbar navbar-toggleable-md navbar-light bg-faded navbar-fixed-top" role="navigation">
                <!--
                <div class="navbar-header">
                    <a class="navbar-brand" href="#/home">My Library</a>
                </div>
                -->
                <div class="navbar">
                    <ul class="nav navbar-nav pull-right">
                        <li><a href="#/userdetails"><img height="30" width="30" src="{{displayImageURL}}"/>{{displayName}}</a></li>
                        <li><a href="#/login"><span class="glyphicon glyphicon-log-out"></span>Logout</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div> <!--End Nav Bar -->
</div> <!-- end nav bar div -->

<div>
    <div id="wrapper" class="active">
        <!-- Sidebar  -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">Categories</a>
                </li>
                <li>
                    <a ng-click="getBooks('')">Recently Added </a>
                </li>
                <li>
                    <a ng-click="getBooks('current')">Currently Reading</a>
                </li>
                <li>
                    <a ng-click="getBooks('favorite')">Favorites</a>
                </li>
                <li>---------------------------</li>
                <li ng-repeat="cat in categories">
                     <a ng-click="getBooks(cat.name)">{{cat.name}} ({{cat.count}})</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
        <br/>
        <br/>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <!--<p>Click Add a Book to add to your collection</p>-->
                        <form class="form-inline my-2 my-lg-0">
                            <button ng-click="toggleCat()" type="button" class="btn btn-primary" id="menu-toggle">{{showHide}}</button>
                            <button ng-click="addBook()" type="button" class="btn btn-success">Add a book</button>
                            <input style="width:700px;" class="form-control" name="querystring" type="text" placeholder="Search" ng-model="searchData.querystring">
                            <button ng-click="search()" type="button" class="btn btn-primary">Search</button>
                            <div class="alert alert-success alert-dismissible fade show" ng-if="book_deleted" role="alert">{{alert_text}}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
             </div>
            <div class="container-fluid">
                <div class="page-header"><h2>{{displayText}}</h2></div>
                <div class="row">
                    <div class="col-sm-3 col-md-2" ng-repeat="book in books">
                        <div class="thumbnail">
                            <div class="floated_img">
                                <!--<img height="150" width="100" src="http://localhost:9000/static/{{book.img}}" class="img-responsive center-block" />-->
                                <img height="150" width="100" src="{{book.img}}" class="img-responsive center-block" />
                                <p>{{book.title}} by <br/>{{book.author}}</p>
                                <p>
                                    <!--<button ng-click="toggleCurrent(book)" type="submit" class="btn btn-default btn-sm" style={{book.currentlyReadingButtonStyle}} title="Currently Reading"><span class="glyphicon glyphicon-book"></span></button>-->
                                    <!--<button ng-click="toggleFavourite(book)" type="submit" class="btn btn-default btn-sm" ng-style={{book.favouriteButtonStyle}} title="Add to Favourites"><span class="glyphicon glyphicon-heart"></span></button>-->
                                    <button-current></button-current>
                                    <button-favorite></button-favorite>
                                    <button ng-click="editBook(book.title, book.author)" type="submit" class="btn btn-icon" style="border:none" title="Edit Book Details"><span class="glyphicon glyphicon-pencil "></span></button>
                                    <button ng-click="deleteBook(book.id, book.title, book.author)" type="submit" class="btn btn-icon" style="border:none" title="Delete Book"><span class="glyphicon glyphicon-trash"></span></button>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            <script type="text/ng-template" id="addBook.html">
                <div class="modal-header">
                    <h3 class="modal-title" id="modal-title">Add a Book</h3>
                </div>
                <div class="modal-body" id="modal-body">
                    <!--<div ng-include src="'html/add_book.html'"></div> -->
                    <form enctype="multipart/form-data" ng-submit="ok()">
                        <div class="input-group">
                            <span style="width:100px;" class="input-group-addon" id="basic-addon1"><b>Title</b></span>
                            <input style="width:450px;" type="text" name="title" class="form-control" ng-model="title" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span style="width:100px;" class="input-group-addon" id="basic-addon2"><b>Author</b></span>
                            <input style="width:450px;" type="text" name="author" class="form-control" ng-model="author" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span style="width:100px;" class="input-group-addon" id="basic-addon3"><b>Category</b></span>
                            <input style="width:450px;" type="text" name="category" class="form-control" ng-model="category" aria-describedby="basic-addon1">
                        </div>
                        <div class="input-group">
                            <span style="width:100px;" class="input-group-addon" id="basic-addon4"><b>Image</b></span>
                            <input ng-files="getTheFiles($files)" id="file1" type="file" ng-model="filename" file="file" name="filearg" ng-model="book.image_file" onchange="angular.element(this).scope().readURL(this)" />
                            <img id="blah" src="#" alt="Book Image Preview" />
                        </div>
                        <!--
                        <div class="form-group">
                            <label>Image</label>
                            <input ng-files="getTheFiles($files)" id="file1" type="file" ng-model="filename" file="file" name="filearg" ng-model="book.image_file" onchange="angular.element(this).scope().readURL(this)" />
                            <img id="blah" src="#" alt="Book Image Preview" />
                        </div>
                        -->
                        <!--
                        <div class="form-group">
                            <label>Title</label>
                            <input type="text" name="title" class="form-control" ng-model="title">
                            <span ng-show="errorName">{{errorName}}</span>
                        </div>
                        <div class="form-group">
                            <label>Author</label>
                            <input type="text" name="author" class="form-control" ng-model="author">
                            <span ng-show="errorName">{{errorName}}</span>
                        </div>
                        <div class="form-group">
                            <label>Category</label>
                            <input type="text" name="category" class="form-control" ng-model="category">
                            <span ng-show="errorName">{{errorName}}</span>
                        </div>
                        <div class="form-group">
                            <label>Image</label>
                            <input ng-files="getTheFiles($files)" id="file1" type="file" ng-model="filename" file="file" name="filearg" ng-model="book.image_file" onchange="angular.element(this).scope().readURL(this)" />
                            <img id="blah" src="#" alt="Book Image Preview" />
                        </div>
                        -->
                    </form>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
                    <button class="btn btn-warning" type="button" ng-click="cancel()">Cancel</button>
                </div>
            </script> <!-- End Modal -->
        </div>
    </div>
</div>
</div> <!-- top level div for ng-controller=HomeController -->
    <!-- /#page-content-wrapper -->
