<html>

<style>
div.form-control-new {
    width: 40%;
    height: 34px;
    display: block;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
}
</style>

<!-- Add where you want your sign-in button to render -->
<!-- Use an image that follows the branding guidelines in a real app -->
<!--
<button id="signinButton">Sign in with Google</button>
<script>
  $('#signinButton').click(function() {
    // signInCallback defined in step 6.
    auth2.grantOfflineAccess().then(signInCallback);
  });
</script>
-->
<!--
/**
 * This method sets up the sign-in listener after the client library loads.
 */
function startApp() {
  gapi.load('auth2', function() {
    gapi.client.load('plus','v1').then(function() {
      gapi.signin2.render('signin-button', {
          scope: 'https://www.googleapis.com/auth/plus.login',
          fetch_basic_profile: false });

      gapi.auth2.init({fetch_basic_profile: false,
          scope:'https://www.googleapis.com/auth/plus.login'}).then(
            function (){
              console.log('init');
              auth2 = gapi.auth2.getAuthInstance();
              auth2.isSignedIn.listen(updateSignIn);
              auth2.then(updateSignIn);
            });
    });
  });
}
-->
<div class="jumbotron" id="gConnect" data-ng-controller="LoginController" data-ng-init="startApp('logoff')">
    <div class="container">
        <div class="col-md-offset-2 col-md-8" >
            <h2>Welcome to My-Library</h2>
            <div id="gConnect">
                <div id="signin-button"></div>
            </div>
        </div>
    </div>
</div>

<!--<p>Image from S3</p>
<img src="https://s3.amazonaws.com/my-library_1508745849196/f866bc97-3068-488d-b48f-22cf6007a203.jpg"/>
-->
<!--
<div id="authOps" style="display:none" data-ng-controller="LoginController">
    <h2>User is now signed in to the app using Google+</h2>
    <button id="signOut" ng-click="signOut()">Sign Out</button>
    <p>If the user chooses to disconnect, the app must delete all stored
    information retrieved from Google for the given user.</p>
    <button id="disconnect" ng-click="disconnect()" >Disconnect your Google account from this app</button>
    <h2>User's profile information</h2>
    <div id="profile"></div>
    <h2>User's friends that are visible to this app</h2>
    <div id="visiblePeople"></div>
    <h2>Authentication Logs</h2>
    <pre id="authResult"></pre>
  </div>
</div>
-->

<!-- original login form -->
<!--
<div class="jumbotron">
    <div ng-app='libApp' ng-show="error" class="alert alert-danger">{{error}}</div>
        <div class="container">
            <div class="col-md-offset-2 col-md-8">
                <h2>Welcome to My-Library</h2>
                <form name="form" ng-submit="login()" role="form">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <i class="fa fa-key"></i>
                        <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
                        <br/>
                        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                    </div>
                <div class="form-group">
                    <label for="password">Password</label>
                    <i class="fa fa-lock"></i>
                    <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
                    <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                </div>
                <div class="form-actions">
                    <button type="submit" ng-disabled="form.$invalid || dataLoading" class="btn btn-danger">Login</button>
                    <img ng-if="dataLoading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
                </div>
                <div>
                    <p><a href="#/newuser">New User</a></p>
                </div>
            </form>
        </div>
    </div>
</div>
-->


</html>